.button {
    background: rgb(59, 55, 55);
    display: inline-block;
    color:white;
    font-size: 35px;
    width: 64px;
    text-align: center;
    vertical-align: middle;
    border-radius: 32px;
    height: 64px;
    margin: 2px;
  }
.button:active{
background: rgb(88, 82, 82);
}
#icon-0{
    width: 128px;
}

div[id='icon-AC'] {background: rgb(148, 134, 134); }
div[id='icon-+/-'] {background: rgb(148, 134, 134); }
div[id='icon-%'] {background: rgb(148, 134, 134); }

div[id='icon-÷'] {background: rgb(231, 104, 19); }
div[id='icon-*'] {background: rgb(231, 104, 19); }
div[id='icon--'] {background: rgb(231, 104, 19); }
div[id='icon-+'] {background: rgb(231, 104, 19); }
div[id='icon-='] {background: rgb(231, 104, 19); }

div[id='icon-÷']:active {background: rgb(255, 127, 41); }
div[id='icon-*']:active {background: rgb(255, 127, 41); }
div[id='icon--']:active {background: rgb(255, 127, 41); }
div[id='icon-+']:active {background: rgb(255, 127, 41); }
div[id='icon-=']:active {background: rgb(255, 127, 41); }