/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ________上面是reset_________ */

/* header */

.header{
    height: 60px;
    width: 100vw;
    background-color: #c4adad;
    display:flex;
    /* border:3px solid rgb(255, 255, 255); */
    align-items: center;
}
.logo{
    flex: 1;
    text-align: left;
    padding-left: 10px;
    height: 50px;
    width: 50px;
}
.logo span{
    display: inline-block;
    font-size: 30px;
    color: #ffffff;
}

.infologo{
    display: flex;
    justify-content:center;
}
.user{
    padding-left: 50px;
}
.searchBar{
    flex: 3;
    background-color: hsl(0, 0%, 100%);
    font-size: 20px;
    color: lightgray;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
.info{
    flex: 1;   
}


.container{
    display: flex;
    width: 100vw;
}

/* menu */
.hr{
    border: 0;
    height: 1px;
    background: #333;
    opacity: 0.6;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.menu {
    height: 900px;
    /* width: 160px; */
    background-color: #be9898;
  
    line-height: 40px;
    font-size: 20px;
    color: white;
    width: 15vw;
}

.menu a{
    color:rgb(236, 208, 164);
    padding-top: 20px;
    padding: 20px;
}
.menu textarea{
    margin: 20px;
}

.menu p{
    font-size: 25px;
    padding: 10px;
}
.menu textarea{
    display: block;
    width: 10vw;
}



/* content */

.content {
    background-color:white;
    width: 85vw;
    flex:1;
}    
.display{
    display: flex;
}
.displaypic{
    background-size:contain;
    background-position:center;
    height: 400px;
    background-image:url("./image/display.jpg");
    background-repeat: no-repeat;
  width: 70vw;
}
.bt{
    display: inline-block;
    width: 7.5vw;

}

.albumtitle{
    background-color:#7a6b6b;
    /* border: #b9b9b9 3px solid; */
    height: 40px;
    margin: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    opacity: 0.3;
}
.albumtitle:hover{
opacity: 0.6;
}
.albumpics{
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.more{
    text-align: end;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.albumpic{
    flex: 1;
    background-size:contain;
    background-position:center;
    height:200px;
    background-repeat: no-repeat;
    cursor: pointer;    
    opacity: 0.7;
}

.albumpic:hover{
    height:300px;
    opacity: 1;
    border: #c4adad 1px solid;
    box-shadow: 5px 5px 5px rgb(139, 134, 134);
}

.albumtitle a{
    vertical-align:middle;
    font-weight:bold;
    color:white;
}
.albumtitle a:hover{
    color: #92e48b;  
}

a:hover{color: #ffffff;}